<p id="notice"><%= notice %></p>

<p>
  <strong><%= @country.name %> (<%= @country.continent %>)</strong>
</p>

<p>
  <strong>Population:</strong>
  <%= @country.population %>
</p>

<p>
  <strong>Gnp:</strong>
  <%= @country.gnp %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
